.footer{
    width: 226px;
    height: 49px;
  
    
     
}

.title{
        font-weight: 400;
        font-size: 36px;
        line-height: 48.53px;
        color: #262626;
        margin-top: 4289px;
        left: 84px;
    
}
.title2{
    text-align: right;
}



.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: white;
    
}

img{
    width: 31;
    height: 31;
    float: right;
}

.container ul{
    display: flex;
    gap: 20px;
}

.container ul li{
    list-style: none;
    padding: 10px;
}

.container ul li a{
    text-decoration: none;
}



